<section id="artifact_data">
	<style>
		table, th, td {
			border: 1px solid black;
		}
		.data_text {
			width: 75%
			float:left;
			}
		aside {
			width: 25%
			float:right;
		}
		#clear {
			clear: both;
		}
	</style>
	<div class="data_text">
		<h1>{{artifact.name}}</h1>
		<p>{{artifact.shortDescription}}</p>
	</div>
	<aside>
		<table>
			<tr> <th colspan='2'>{{artifact.tableData.header}}</th> </tr>
			<tr ng-repeat="(header, data) in artifact.tableData.tableData">
				<td>{{header}}</td><td>{{data}}</td>
			</tr>
		</table>
	</aside>
	<div id="clear"></div>
</section>
