<div class="container center-block"><!-- Set the width of the page -->
	<style>
		.center-block {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.land {
			fill: #999;
			stroke-opacity: 1;
		}

		.graticule {
			fill: none;
			stroke: black;
			stroke-width:.5;
			opacity:.2;
		}

		.labels {
			font: 16px sans-serif;
			fill: red;
			opacity: .75;
		}

		.country-border{
			fill: none;
			stroke: #fff;
		}

		.noclicks { pointer-events:none; }

		.point {  opacity:.6; }

		.arcs {
			opacity:.1;
			stroke: gray;
			stroke-width: 3;
		}
		.flyers {
			stroke-width:2;
			opacity: .6;
			stroke: darkred;
		}
		.arc, .flyer {
			stroke-linejoin: round;
			fill:none;
		}
		.arc { }
		.flyer { }
		.flyer:hover { }

	</style>
<h2>Timeline Map</h2>
<p>This is the beginning of our 3D timeline map visualization.</p>
<br>
<br>

<div id="map-area"></div>

<p> Please select a year using the slider below. All the pieces that have moved before this date will be shown.</p>

<div class="well">
	<b>{{sliderData.minValue}}AD</b>&nbsp;&nbsp;&nbsp;<slider ng-model="sliders.sliderValue" min="{{sliderData.minValue}}" step="{{sliderData.stepSize}}" max="{{sliderData.maxValue}}" value="{{sliderData.currentValue}}"></slider>&nbsp;&nbsp;&nbsp;<b>{{sliderData.maxValue}}AD</b>
</div>

</div>
