<div class="container center-block"><!-- Set the width of the page -->
	<style>
	.leaflet-control-locate {
		border:1px solid rgba(0,0,0,0.4);
		}
	.leaflet-control-locate a {
		background-color:#fff;
		background-position:-3px, -2px;
		}
	.leaflet-control-locate.active a {
		background-position:-33px -2px;
		}

	.leaflet-popup-content img {
		max-width:100%;
		}
	</style>



	<h2>Timeline Map</h2>
	<p>This is our timeline map visualization.</p>
	<!--
	<button id="zoom_in">+</button>
	<button id="zoom_out">-</button>
	-->
	<div class="container row row-eq-height">
		<div class="col-md-9">
			<leaflet height="480px" width="100%" defaults="defaults" center="center" controls="controls"
			   paths="paths" event-broadcast="events" markers="markers"></leaflet>
		</div>
		<div class="col-md-3 well" style="max-height: 480px; overflow-y: auto;">
			<div ng-if="infoBox.type == 'Marker'">
				<b>{{infoBox.title}}</b></br>
				<p>Pieces at location ({{infoBox.data.length}}):</br>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="element in infoBox.data">
							<a ng-click="element.goToInfoPage()">{{element.name}}</a>
						</li>
					</ul>
				</p>
			</div>
			<div ng-if="infoBox.type == 'Path'">
				<b>{{infoBox.title}}</b></br>
				<p>Locations ({{infoBox.data.locations.length}}):</br>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="location in infoBox.data.locations">
							{{location.name}} {{location.date}}
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>

	<p>
		Please select a year using the slider below. All the pieces that have moved before this date will be shown.
	</p>

	<div class="well">
		<b>{{sliderData.formatter(sliderData.minValue)}}</b>&nbsp;&nbsp;&nbsp;
		<slider ng-model="sliders.sliderValue" min="{{sliderData.minValue}}" step="{{sliderData.stepSize}}" max="{{sliderData.maxValue}}" value="{{sliderData.value}}" formatter="sliderData.formatter">
		</slider>&nbsp;&nbsp;&nbsp;
		<b>{{sliderData.formatter(sliderData.maxValue)}}</b>
	</div>

	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>
					Name
				</th>
				<th>
					Date
				</th>
				<th>
					Original
				</th>
				<th>
					Original Date
				</th>
				<th>
					Second
				</th>
				<th>
					Second Date
				</th>
				<th>
					Third
				</th>
				<th>
					Third Date
				</th>
				<th>
					Current
				</th>
				<th>
					Current Date
				</th>
			</tr>
			<!--  -->
			<tr ng-repeat="path in paths | dateRange:sliders.sliderValue">
				<td>
					{{path.data.piece.name}}
				</td>
				<td>
					{{path.data.date}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Original').name}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Original').date}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Second').name}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Second').date}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Third').name}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Third').date}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Current').name}}
				</td>
				<td>
					{{path.data.piece.getLocationByName('Current').date}}
				</td>
			</tr>
		</table>
	</div>

</div>
