<div class="container center-block"><!-- Set the width of the page -->
	<style>
		.leaflet-control-locate {
			border:1px solid rgba(0,0,0,0.4);
		}
		.leaflet-control-locate a {
			background-color:#fff;
			background-position:-3px, -2px;
		}
		.leaflet-control-locate.active a {
			background-position:-33px -2px;
		}

		.leaflet-popup-content img {
			max-width:100%;
		}
		.path-start {
			-webkit-transition:stroke-dashoffset 5s ease-in;
			   -moz-transition:stroke-dashoffset 5s ease-in;
			     -o-transition:stroke-dashoffset 5s ease-in;
			        transition:stroke-dashoffset 5s ease-in;
		}
	</style>



	<h2>Timeline Map</h2>
	<p>This is our timeline map visualization for the movement of art.</p>
	<div class="container">
		<leaflet height="480px" width="100%" defaults="defaults" center="center" controls="controls"
		   paths="paths" event-broadcast="events" markers="markers"></leaflet>
	</div>

	<p>
		Please select a year using the sliders below. All the pieces that have moved between these dates will be shown.
	</p>

	<div class="well">
		<b>{{sliderData.formatter(sliderData.minValue)}}</b>&nbsp;&nbsp;&nbsp;
		<slider ng-model="sliders.sliderValue" min="{{sliderData.minValue}}" step="{{sliderData.stepSize}}" max="{{sliderData.maxValue}}" value="{{sliderData.value}}" formatter="sliderData.formatter">
		</slider>&nbsp;&nbsp;&nbsp;
		<b>{{sliderData.formatter(sliderData.maxValue)}}</b>
	</div>
</div>
