<div>
	<style>
		.map-panel{
			max-width:250px;
			width:250px;
			max-height: 400px;
		}
		.map-list-group{
			max-height: 300px;
			overflow-y: auto;
		}
	</style>
	<div class="panel panel-default map-panel" ng-if="infoBox.type == 'Marker'">
		<div class="panel-heading">
			{{infoBox.title}}
			<span class="badge pull-right">{{infoBox.data.length}}</span>
		</div>
		<ul class="list-group map-list-group">
			<li class="list-group-item" ng-repeat="element in infoBox.data">
				<a ng-click="element.goToInfoPage()">{{element.name}}</a>
			</li>
		</ul>
	</div>
	<div class="panel panel-default map-panel" ng-if="infoBox.type == 'Path'">
		<div class="panel-heading">
			{{infoBox.title}}
		</div>
		<ul class="list-group map-list-group">
			<li class="list-group-item" ng-repeat="location in infoBox.data.locations">
				{{location.name}}
				<span ng-show="location.date">
					({{convertDateValueToString(location.date)}})
				</span>
			</li>
		</ul>
	</div>
</div>
